node_modules
.env
config.json
testConfig.json
configs
database/database.db
database/database.db-journal
updateGuilds.json
updatePlayers.json
timezones.json
deploy-commands.js
index.js
events/message_delete.js
